body,html
{
    margin: 0px;
    padding: 0px;
    font-family: Okra,Helvetica,sans-serif;
    background-color: whitesmoke;
}

/* ------ navbar -------- */
header
{ background-image: url("./Images/homepage/header_back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}


.head_cont1
{

    width: 100%;
    max-width: 1024px;
    margin: auto;
    clear: both;
    overflow: hidden;

}
#nav_info h1
{
    color: white;
    font-size: 40px;
    width: fit-content;
    margin:0rem;
    font-weight: 400;
}
#nav_info
{
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
}
#nav_options
{
    width: 60%;
    height: 44px;
    margin: 0rem auto 4rem auto;
    border-radius: 15px;
    overflow: hidden;
}
#nav_options > select
{
    float: left;
    height: inherit;
    width: 50%;
}


#download
{
    align-self: flex-start;
    position: absolute;
    left: 10rem;
    font-weight: 800;
    font-size: 0.9rem;

}
#nav_title
{
    margin-top: 1rem;
}
#nav_title >img
{
    display: block;
    width: 26%;
    height: 100%;
    margin: auto;
}

.Nav-Bar ul li:nth-child(2)
{
    display: none;
}
.Nav-Bar
{
    overflow: hidden;
    width: 90%;
    max-width: 1024px;
    margin: auto;
}
.Nav-Bar ul
{
    display: flex;
    list-style-type: none;
    color:white;
    margin: 0rem;
    width: 100%;
    justify-content: flex-end;
    padding: 30px 0px;
}
ul li
{
    padding: 0% 2%;
    font-weight: 300;
    font-size: 18px;
    font-family: Okra,Helvetica,sans-serif;
}
/* order_online */
#order_online
{
    width: 90%;
    max-width: 1024px;
    margin:0rem auto 2rem auto;
}
#order_online a
{
    color: inherit;
}

#online_cont1
{
    display: block;
    width: 30%;
    float: left;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2.5rem 1.5%;
    border: 0.5px solid rgba(79, 79, 79, 0.701);
    transition: 0.5s transform;
}
#online_cont1:hover
{
    transform: scale(1.02);
}
#online_cont1 >img
{
    display: block;
    width: 100%;
    height:8rem;
}
#online_cont1 >p
{
    color:rgb(79, 79, 79);
    margin: 0.5rem 1rem ;
}
#online_cont1 >h5
{
    font-weight: 300;
    font-size: 24px;
    margin: 0.5rem 1rem ;
}
#popular_local:hover
{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.562);
}
#online_cont2
{
    overflow: hidden;
    clear: both;
    padding-bottom: 2rem;
}

#online_cont2 h2
{
    font-size: 30px;
    font-weight: 300;
}
#popular_local
{
    width: 29%;
    border-radius: 1rem;
    border: 0.5px solid rgba(79, 79, 79, 0.701);
    padding-left: 1rem;
    float: left;
    transition: 0.5s all;
    margin: 0% 1%;

}
#popular_local h4
{
    font-size: 26px;
    margin: 0.5rem 0rem;
    font-weight: 300;
}
#popular_local p
{
    color:rgb(79, 79, 79);
}
/* explore */
#explore
{
    width: 100%;
    margin: auto;
    background: rgb(252, 252, 252);
    padding: 2rem 0rem;

}
#exp_cont1
{
    width: 90%;
    margin: auto;
    max-width: 1024px;

}
#explore h1
{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
}
#exp_option ,#exp_option2 ,#exp_option3
{
    padding: 1.5%;
    width:96%;
    background: rgb(255, 255, 255);
    border:  1px solid rgb(232, 232, 232);
    border-radius:1rem;
    margin-top :1rem;
}
#exp_option h2 , #exp_option2 h2 ,#exp_option3 h2
{
    font-size: 20px;
    font-weight: 300;
    margin: 0rem;
    letter-spacing: 2px;

}
.option
{
    display: none;
    padding-top: 1rem;
}
.option.sho{
    display: block;

}
/* app_download */
#app_download
{
    width: 100%;
    background-color: rgb(255, 251, 247);
}
#app_download_cont1
{
    width: 85%;
    max-width: 845px;
    padding: 5rem 0rem;
    margin: auto;
    overflow: hidden;

}
#app_download_img
{
    width: 33%;
    height: inherit;
    float: left;

}
#app_download_img >img
{
    width: 85%;
    height: 21%;
    margin: 5rem 0rem 0rem 2rem;
}
#app_download_form
{
    float: left;
    width: 63%;
    padding: 2%;
}
#app_download_form >h1
{
    font-size: 40px;
    font-weight: 600;
    margin: 1rem 0rem 0rem 0rem;
    letter-spacing: 0.5px;
}
#app_download_form >h3
{
    color:rgb(79, 79, 79);
    font-size: 18px;
    font-weight: 300;
    width: 90%;
    margin: 1.5rem 0rem 0rem 0rem ;

}
#app_download_form >input
{
    margin: 1.5rem 0rem 0rem 0rem;
    letter-spacing: 2px;
    padding-right: 2px;
}
#app_download_form input[type=text]
{
    width: 60%;
    float: left;
    font-size: 1.1rem;
    height: 44px;
    margin: 1rem 1rem 0rem 0rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(207, 207, 207);
}
#app_download_form button
{
    width: 25%;
    margin: 1rem 0rem;
    float: left;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    background-color:  rgb(239, 79, 95);
    font-size: 14px;
    color: white;


}
#app_download_form h5
{
    color:rgb(182, 180, 180);
    font-size: 15px;
    font-weight: 200;
    clear: both;
}
#app_download_form >img
{
    display: block;
    width: 30%;
    float: left;
    padding-right: 20px;
    height: 40px;
}
/*-------------  footer ----------- */

footer
{
    width: 90%;
    max-width: 1024px;
    margin: auto;
}
footer #logo
{
    width: 100%;
    margin-top: 2rem;
}
#foot_option
{
    float: right;
    width: 21%;
}
footer select
{

    margin: 0rem -13px;
    width: 5rem;
    padding: 0px;
    height: 44px;
    font-size: 1rem;
}
.foot_cont
{
    width: 20%;
    float: left;
}
.foot_cont >ul
{
    list-style-type: none;
    padding: 0px;
}
.foot_cont ul li b
{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.foot_cont ul li
{
    padding-top:14px ;
    font-size: 14px;
    letter-spacing: 2px;
    color:rgb(152, 148, 148);
}
footer>p
{
    font-size: 12px;
    margin-top: 0rem;
    color: rgb(79, 79, 79);
    line-height: 1.7rem;

}
footer .fa
{
    color: white;
    background-color: black;
    padding: 7px;
    border-radius: 50%;
    text-align: center;
}
.foot_cont ul li i
{
    font-size: 0.8rem;
    width: 0.8rem;
    text-align: center;
    height: 0.8rem;
}
.foot_cont ul li img
{
    width: 88%;
}
#foot_option_select1
{
    width: 50%;
    float: left;
}
#foot_option_select2
{
    width: 50%;
    float: right;
}

    /* find page */

    #find_head
    {
        background-color: white;
    }
    #find_head_cont
    {
        max-width: 1024px;
        margin: 1rem auto 0rem auto;
        width: 90%;
        
    }
    #find_head_cont1
    {
        height: 46px;
        overflow: hidden;
        margin: 1.5rem auto;
        
    }
    #find_head_cont1_1 , #find_head_cont1_2,
    #find_head_cont1_3
    {
        
        float: left;
    }
    #find_head_cont1_1 a >img
    {
            height: 28px;
            display: block;
            padding: 7px 0px;
            width: 68%;
    }
    #find_head_cont1_1
    {
        width: 20%;
    }
    #find_head_cont1_2 
    {
        width: 59%;
        border-radius: 0.8rem;
        overflow: hidden;
        height: 44px;
        box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
        border: 1px solid rgb(232, 232, 232);
    }
    #find_head_cont1_2  select
    {
        height: 44px;
        width: 30%;
        margin: 0rem;
        padding: 0rem;
        font-size: 1rem;
        border: none;
    }
    #find_head_cont1_2  input[type="text"]
    {
        
        width: 68%;
        height: 100%;
        font-size: 1rem;
        margin: 0rem;
        border: none;
        padding: 0rem;
    }
    #find_head_cont1_3
    {
        width: 20%;
    }
    #find_head_cont1_3 a
    {
        width: fit-content;
        display: block;
        float: left;
        font-size: 18px;
        padding: 11px;
        color: rgb(105, 105, 105);
        text-decoration: none;
        font-weight: 200;
    }

    /* path display */
    #find_head_cont2
    {
        width: 100%;
        height: 35px;
        margin: 1rem auto;
        color:rgba(142, 139, 139, 0.684);
    }
    /* find options */
    #find_head_cont3
    {
        height: 5.5rem;
        margin: 1rem auto 0rem auto;
        border-bottom: 1px solid rgba(142, 139, 139, 0.684);
    }
    #filters
    {
        background-color: white;
        position: sticky;
        top: 0px;
        border-bottom: 1px solid lightgrey;
    }
   .find_options img
   {
        display: block;
        width: 2rem;
        padding: 1rem;
    
   }
   .find_options_img
   {
        border-radius: 50%;
        overflow: hidden;
        width: 4rem;
        height:4rem;
        float:left;
        background: rgb(252, 238, 192);
   }
   .find_options a span
    {
        display: block;
        padding: 1.2rem;
        width: fit-content;
        float: left;
        font-size: 1.5rem;
        font-weight: 500;
    }
   #nightlife, #dining
   {
         background-color:rgba(132, 129, 129, 0.101);
   }
   #find_head_cont3_1 ,#find_head_cont3_2,#find_head_cont3_3
   {
        display: inline-block;
        height: 100%;
        margin: 0rem 0.9rem 0rem 0rem ;
   } 
   #find_head_cont3_1 
   {
        border-bottom: 2px solid red;
   }
    
   /* filter */
   #find_head_cont4
   {
        padding: 2rem 0rem;
        overflow: hidden;
        position: sticky;
        top: 0px;
        max-width: 1024px;
        width: 90%;
        margin: auto;
   }

   .fiter_buttons
   {
        width: fit-content;
        float: left;
        cursor: pointer;
        margin-right: 1rem;
        height: 2rem;
        border-radius: 6px;
        border: 1px solid rgba(142, 139, 139, 0.684);
   }
   .fiter_buttons span
   {
        padding: 6px 11px;
        display: block;
   }
   .fiter_buttons span i
   {
        margin-right: 6px;
   }
/* find_inspiration" */

#find_inspiration
{
    background-color: rgba(243, 243, 243, 0.653);
}
#inspi_cont1
{
    max-width: 1024px;
    width: 90%;
    margin: auto;
}
#inspi_head >h1
{
    font-size: 2rem;
    font-weight: 400;
    margin: 0rem;
    padding-top: 16px;
}



/* ------ food_items_display ------ */


#food_loading_area
{
    width:100%;
    
}
.food_loading_area_2
{
    width: 90%;
    max-width: 1024px;
    overflow: hidden;
    margin: auto;
    padding:1rem;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.food_item_card
{
    flex: 0 0 32%;
    background-color: white;
    overflow: hidden;
    margin: 1rem 0rem;
    border-radius: 10px;
    transition: 0.3s all;
}
 .food_item_info ,.food_stats
 {
    padding: 10px;
 }
 .food_img {
    margin: 10px;
    background-size: 131% 102%;
    background-position: center;
    height: 14rem;
    display: block;
    border-radius: 10px;
    background-image: url("./Images/find/dal.jpg");
 }
 .food_img img
 {
    width: 100%;
    height: 15rem;
    display: block;
    border-radius: 10px;
 }
 .food_name ,.food_cousine
 {
    overflow: hidden;
    display: flex;
    justify-content: left;
    flex: 70% 30%;
   
    
 }
 .food_name p
 {
    font-size: 18px;
    text-transform:capitalize;
 }
 .food_name p, .food_cousine p
 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    
 }
.food_price p{
    margin:0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 .food_rating,.food_price
 {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    
 }
 .food_item_info_cont2 ,.food_item_info_cont1{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   
 }
 .food_item_info_cont2 {
    margin-top: 10px;
 }
 .food_rating p{
    background-color: green;
    color: white;
    border-radius: 5px;padding: 3px;
    font-size: small;
    margin:0px;
    white-space:nowrap;
    width: 40px;
    overflow: hidden;
 }
 .food_price p,.food_cousine p
 {
    color: rgb(141, 138, 138);
    font-weight: 200;
    font-size: 14px;
 }
 .food_stats p
 {
    margin: 6px 0px;
    clear: both;
    font-size: 11px;

 }
 .food_stats
 {
    margin: 6px ,0px;
    display: flex;
    justify-content: space-between;
 }
 .food_stats > img
 {
    width: 50px;
    height: 20px;
    margin: 6px 0px;
 }
 .food_item_card:hover
 {
    box-shadow: 0px 0px 10px 6px #88888870;
 }


/* ------- show filterrs ----- */

.show_filters
{
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.742);
}
.show_filters.sho{
    display: block;
}
.show_filters_2
{
    
    max-width: 660px;
    background-color: white;
    margin: 4rem auto;
    z-index: 11;
    height:30rem;
    border-radius: 10px;
}
.show_filters_2 > h1
{
    float: left;
    font-size: 1.6rem;
    font-weight: 700;
    width: 70%;
    margin:1.8rem 0rem 1.5rem 1rem;
}
.show_filters_2 i{
    float: right;
    cursor: pointer;
    margin: 1.3rem 1.3rem 0rem 0rem;
}
.tabs
{
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 67%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
    
}
.active{
    background-color:white;
    border-left:0.7rem solid red;

}
.label.active:hover{
    background-color:white;
    border-left:0.7rem solid red;
}
.option.sho{
    display: block;

}


.label >h1
{
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.672);
}
.labels
{
    
    width: 30%;
    float: left;
    height: 100%;
align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgba(0, 0, 0, 0.82);
    background-color: rgba(211, 211, 211, 0.526);
}
.label_output
{
   width: 68%;
   padding: 1.7rem 0rem;
   float: left;
   color: rgba(0, 0, 0, 0.505);
    height: 100%;
}
.label{
    height: 25%;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
}
.label_output form
{
    display: flex;
    flex-direction: column;
}
.label_output form .radios
{
    margin: 1rem 0rem 0rem 1rem;
    align-items: center;

    display: flex;
}
.label_output form  div input[type="radio"]
{
    width: 1.2rem;
    height:1.2rem;
    cursor: pointer;
    margin: 0px 10px;
    color:red;
    background-color: red;
}
.label_output form  div input[type="radio"]:checked::after
{
   width: 12px;
        height: 12px;
        border-radius: 15px;
        right: -3.2px;
        top:3.4px;
        
        position: relative;
        background-color: red;
        content: '';
        display: inline-block;
        visibility: visible;
}
.label_output form .radios  label:before
{
   width: 1rem;
        height: 1rem;
        border-radius: 15px;
        margin-left: -1.9rem;
        margin-right: 2rem;
        cursor: pointer;
        top: 1.7px;
        position: relative;
        background-color:transparent;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid red;
}



.label_output #rad  {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}
.label_output #rad .checks{
    flex: 0 0 40%;
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    align-self: center;
}
.label_output #rad .checks label{
margin-left: 1rem;}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 13px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin-top: 7rem;
    margin-left: 1.3rem;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
  }
  .bottom_buttons{
    display: flex;
    justify-content: flex-end;
  }
  .bottom_buttons button{
    
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 20px;

  }
  .label:hover
  {
    background-color: rgba(211, 211, 211, 0.45);
  }


    
.fiter_buttons:hover
{
    background-color: rgba(211, 211, 211, 0.332);
}

@media screen and (max-width:790px) {

    .fa-remove {
        transform: rotateY(180deg);
        transition: 0.9s;
    }
    .fa-bars {
        transform: rotate(0deg);
        transition: 0.9s;
    }
    .Nav-Bar ul {
        padding: 0px;
    }
    .Nav-Bar #download {
        display: none;
    }
    .Nav-Bar #Phone-Nav {
        display: block;
        padding: 20px 30px 0px 30px;
        position: absolute;
        top: 0;
        left: -10px;
        font-size: 1.5rem;
    }
    .Nav-Bar ul li:not(:nth-child(2)) {
        display: none;
    }
    .Nav-Bar.responsive {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: white;
        transition: 0.5s;
    }
    .Nav-Bar.responsive ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: black;
        margin: 0rem;
        padding: 4rem 0rem 0rem 0rem;
        height: 100%;
        transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .Nav-Bar.responsive ul li:not(:nth-child(2)) {
        display: block;
        position: relative;
        padding: 37px 30px 0px 30px;
        height: 10%;
        color: rgba(0, 0, 0, 0.475);
    }
    .Nav-Bar.responsive ul li:not(:nth-child(2)):hover {
        background-color: rgba(211, 211, 211, 0.527);
    }
    #nav_info {
        width: 85%;
    }
    #nav_info h1{
        font-size: 28px;
    }
    #nav_title >img
    {
        width: 47%;
    }

    #nav_options
    {
        height: 100px;
        width:80%;
        margin: 0rem auto 2rem auto;
    }
    #nav_options > select
    {
        width: 100%;
        padding: 2% 0%;
        height: 45%;
    }
    .nav_bar #download
    {
        display: none;
    }
    .food_item_card
    {
        flex: 1 0 50%;
    }
    #online_cont1>p
    {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        font-size: 13px;
    }
    #popular_local
    {
        height: fit-content;
        padding-left: 0.8rem;
    }
    #popular_local >p
    {
        margin: 1px;
        font-size: 16px;
    }
    #popular_local >h4
    {
        font-size: 16px;
        margin: 0.5rem 0rem;
        font-weight: 300;
    }
    #online_cont1 >h5
    {
        font-size: 14px;
    }
    #app_download_img
    {
        display: none;
        visibility: hidden;
    }
    #app_download_form
    {
        width: 100%;
    }
    .foot_cont
    {
        width: 50%;
        float: left;
        overflow: hidden;
        height: 13rem;
    }
    #foot_option
    {
        clear: both;
        float: none;
        margin: 1rem 0rem 0rem 0rem;
        overflow: hidden;
        width: 40%;
    }
    #foot_option_select1 , #foot_option_select2
    {
        margin: 0rem;
        float: left;
    }
    footer select
    {
        margin: 0rem;
    }
    #social_link
    {
        display: none;
        visibility: hidden;
    }
    #find_head_cont3_2, #find_head_cont3_3
    {
        display: none;
    }
}